.portfolio {
    position: relative;
}

.portfolio h4 {
    margin-top: 150px;
}
.portfolio .box {
    border-radius: 20px;
    padding: 20px 1px 20px 10px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    height: 250px;
    width: 440px;
    margin-left: 11px;
}
.portfolio .noc:hover {
    background-color: none;
    transform: translateY(0);
}
.portfolio .img {
   
    overflow: hidden;
    transition: 0.5s;
}
.portfolio img {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    transition: 0.5s;
}
.portfolio .box .img:hover img{
    transform: scale(1.4);
}

.portfolio .category span {
    color:black;
    font-size: 12px;
    letter-spacing: 1.1px;
    font-weight: 200;
}
.portfolio h4 {
    margin-top: 150px;
}
.portfolio .arrow {
    position: absolute;
    right: 30px;
    bottom: 11%;
    transform: rotate(-45deg);
    color: black;
}
.portfolio .title:hover .arrow {
    opacity: 1;
    color: white;
}
.portfolio h2 {
    font-size: 18px;
    transition: 0.5s;
    padding-bottom: 30px;
}
.portfolio .box {
    padding-top: 10px;
    padding-left: 20px;
}
.portfolio .box:hover h2 {
    color: black;

}
/* .portfolio .box:hover {
    color: blue;
  
} */
.portfolio label i {
    margin-right: 10px;
    background-color: black;
}

.portfolio .box h2 {
    margin-right: 1001px;
    background-color: red;
}

/* popup section */

.btn-model {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}
.model,
.overlay {
    width: 210vh;
    height: 150vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
}
.overlay {
    background-color: lightcoral;


}
.model-content {
    position: absolute;
    top: 18%;
    left: 19%;
    line-height: 1.4;
    background-color: lightblue;
    padding: 14px 28px;
    min-width: 40%;
    max-width: 60%;
    z-index: 9999;
    box-shadow: 4px 4px 8px lightsteelblue, 15px 21px 15px white;
    padding: 20px;
    border-radius: 20px;
}
.model-img img {
    height: 250px;
    width: 320px;
    margin-top: 15px;
    border-radius: 30px;
    transition: 0.5s;
    margin-right: 700px;

}

.model-text {
    margin-left: -660px;
    margin-top: 20px;

}
.model-text h1 {
    font-size: 30px;
}

.model-text p {
    font-size: 15px;
    margin-left: -1px;
    margin-bottom: 45px;
    line-height: 35px;
}
.model-text .btn_gg {
    margin-bottom: -10px;

}
.model-text h1 {
    margin: 20px 0 20px 0;
    font-size: 30px;
}
.model-text p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 25px;
}

.model-text button {
    margin-right: 11px;
    color: black;
}


.model-text button i {
    margin-left: 10px;
    
}

.model-text button .close-model {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 51px;
    text-align: center;
    border-radius: 50%;
    padding: 0 0;
    font-size: 20px;
    

}

.model-text button .close-model i {

    margin: 0;
}







@media (max-width: 768px) {

    .portfolio .box {
        border-radius: 15px;
        padding: 20px 1px 20px 10px;
        position: relative;
        cursor: pointer;
        margin-top: 10px;
        height: 200px;
        width: 210px;
        margin-left: 1px;
    }
    .portfolio .noc:hover {
        background-color: none;
        transform: translateY(0);
    }
    .portfolio .img {
        overflow: hidden;
        transition: 0.5s;
    }
    .portfolio img {
        height: 80px;
        width: 130px;
        margin-left: 25px;
        border-radius: 10px;
        transition: 0.5s;
    }
    .portfolio .box .img:hover img{
        transform: scale(1.4);
    }
    .portfolio .category span {
        color:black;
        margin-top: -18px;
        margin-left: 10px;
        font-size: 12px;
        letter-spacing: 1.1px;
        font-weight: 500;
    }
    .portfolio .title {
        margin-left: 10px;
    
    }
    .portfolio .title h2 {
        color:black;
        font-size: 18px;
        font-weight: 900;
    
        
    }
    .portfolio .arrow {
        position: absolute;
        right: 10px;
        bottom: 7px;
        transform: rotate(-45deg);
        color: black;
    }
    .portfolio .title:hover .arrow {
        opacity: 1;
        color: white;
    }



    .btn-model {
        padding: 10px 20px;
        display: block;
        margin: 100px auto 0;
        font-size: 18px;
    }
    .model,
    .overlay {
        width: 110vh;
        height: 150vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 999;
    }
    .overlay {
        background-color: lightcoral;
    
    
    }
    .model-content {
        position: absolute;
        top: 18%;
        left: 19%;
        line-height: 1.4;
        background-color: lightgoldenrodyellow;
        padding: 14px 28px;
        min-width: 40%;
        max-width: 60%;
        z-index: 9999;
        box-shadow: 4px 4px 8px lightsteelblue, 15px 21px 15px white;
        padding: 20px;
        border-radius: 20px;
    }
    .model-img img {
        height: 110px;
        width: 170px;
        margin-top: 15px;
        border-radius: 30px;
        transition: 0.5s;
        margin-right: 700px;
    
    }
    
    .model-text {
        margin-left: -660px;
        margin-top: 20px;
    
    }
    .model-text h1 {
        font-size: 30px;
    }
    
    .model-text p {
        font-size: 15px;
        margin-left: -1px;
        margin-bottom: 45px;
        line-height: 35px;
    }
    .model-text .btn_gg {
        margin-bottom: -10px;
    
    }
    
    .model-text button {
        margin-right: 11px;
        color: black;
    }
    
    
    .model-text button i {
        margin-left: 20px;
        margin-bottom: -10px;
        margin-left: 5px;
        
    }
    
    
    .model-text button .close-model {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 51px;
        text-align: center;
        border-radius: 50%;
        padding: 0 0;
        font-size: 20px;
        
    
    }


} 
