.Resume {
    margin-top: 140px;
} 
 
.Resume .container .heading {
    text-align: center;
    margin-top: 20px;   

} 
.Resume .box h1 {
    font-size: 40px;

}
.Resume h2 {
    font-size: 20px;

}

.Resume span {
    font-size: 15px;

}

.Resume .content {
    max-width: 80%;
    margin: auto;
    
}
.Resume .left .heading {
    padding-right: 20px;
}


.Resume hr {
    margin: 30px 0 30px 0;
    border: 1px solid white;
    background-color: aliceblue;
}

.Resume .rate .btn_shadow {
    color: red;
    padding: 15px 30px;
    font-weight: bold;
    transition: 0.5s;
    
}

.Resume p {
    font-size: 18px;
    transition: 0.5s;
}
.Resume .box {
    padding: 40px; 
    margin-bottom: 40px;
    position: relative;
    

}
.Resume .btn_shadow:hover {
    transform: translate(0);
    
}

.Resume .box:hover .btn_shadow {
    background: red;
    box-shadow: none;
    color: aliceblue;
    
}

.Resume .box:hover p {
    color: aliceblue;
    
}
.Resume .content-section {
    position: relative;
    
}
.Resume .left {
    position: relative;
    max-width: 50%;
    
    
}

.Resume .left::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 3%;
    height: 70vh;
    width: 5px;
    background: red;
    border: 3px solid yellow;
    z-index: -2;
}

/* ----------------- */

.Resume .right::after {
    content: "";
    position: absolute;
    top: 16%;
    left: 3%;
    height: 104vh;
    width: 5px;
    background: red;
    border: 3px solid yellow;
    z-index: -2;
}


/* -------------------- */
.Resume .box::after {
    content: "";
    position: absolute;
    top: 13%;
    left: -8%;
    height: 5px;
    width: 50px;
    background: red;
    z-index: -2;

}

.Resume .box::before {
    content: "";
    z-index: 2;
    top: 11%;
    left: -9.5%;
    height: 110px;
    width: 10px;
    border-right: 50%;
    border-radius: 222px;
    position: absolute;
    background: red;
    border: 1px solid red;
    border: 1px solid yellow;

}
.Resume .box:hover.box::before {
    background: black;
}


/* .Resume .btn_shadow_cus1 {
    padding: 18px 10px;
    border-radius: 8px;
    transition: 0.5s all ease;
    cursor: pointer;
    margin-bottom: 20px;

    margin-right: 10px;
    background: linear-gradient(292deg, lightsalmon, red);
    box-shadow: 2px 3px 1px white, 11px 11px 3px black;

}

.Resume .btn_shadow_cus1:hover {
    background:red;
    transform: translateY(-16px);
  
  }


  .Resume .btn_shadow_cus2 {
    padding: 18px 10px;
    border-radius: 8px;
    transition: 0.5s all ease;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;

    background: linear-gradient(292deg, lightsalmon, red);
    box-shadow: 2px 3px 1px white, 11px 11px 3px black;

} */

.Resume .box {

    padding: 18px 5px;
    border-radius: 8px;
    transition: 0.5s all ease;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;

    background: linear-gradient(292deg, lightsalmon, red);
    box-shadow: 2px 3px 1px white, 11px 11px 3px black;

}

.Resume .box:hover {
    background:red;
    transform: translateY(-6px);
  
  } 

.Resume .rate button {
    margin-top: 10px;
    margin-left: -120px;

}

@media(max-width: 768px) {


}