
.features h1{
    font-size: 50px;
    color: black;
    margin-bottom: 50px;
}

.features .box2 {
    padding: 20px;
    
}
.features .box h2 {
    margin: 20px 0 20px 0;
}

.features button {
    font-size:14px;
    margin-left: 300px;

}

.features p {
    color: black;
    font-size:18px;
    margin: 10px;

}

/* .features .box p {
    word-spacing: 11px;
    width: 100px;
    height: 110px;
    transition: 0.5s;
} */

.features .box i {
    font-size: 20px;
    margin-top: 15px;
    transition: 0.5s;
    opacity: 5;
}

.features .box:hover p {
    color: black;
}

.features .box:hover i {
    opacity: 1;
}

section img {
    width: 69px;
    height: 60px;
}

@media (max-width: 768px) {

    .features h4 {

        padding-top: 80px;
        font-size: 20px;
    }

    .features h1 {

        padding-top: 2px;
        font-size: 22px;
    }

    .features h2 {

        padding-top: 5px;
        font-size: 20px;
    }

    .features .box2 {
        margin-top:-20px;
        
    }
    .features .box2 h2 {
        margin: 10px 0 10px 0;
    }

    
    .features button {
     font-size:14px;
     margin-top: 20px;
     margin-left: 40px;

     }



    .features .box2 i {
        font-size: 14px;
        margin-top: 10px;
        transition: 0.5s;
        opacity: 5;
    }

    .features .box2:hover p {
        color: black;
    }
    .features .box2:hover i {
        opacity: 1;
    }

    .features p {
        color: black;
        font-size: 13px;
        line-height: 25px;
        margin: 5px;
    }

    .features .img {
        overflow: hidden;
        transition: 0.5s;
    }
    .features img {
        height: 180px;
        width: 130px;
        margin-left: 21px;
        border-radius: 10px;
        transition: 0.5s;
    }


}